/admin/
/ignore/
/exclude/
/content/
/.cache/
/uploads/
/.trash/
/.obsidian/
/.drive_sync/

/docs/manifest.json
/mkdocs.yml
/overrides/
/overrides/partials/
/overrides/partials/comments.html
/docs/assets/ecosystem_obsidian_github_mikdocs.png
/docs/assets/logo.png
/mkdocs.yml
/docs/manifest.json
/README.md