/admin/
/ignore/
/exclude/
/content/
/.cache/
/uploads/
/.trash/
/.obsidian/
/.drive_sync/
/*.bak/
/.DS_Store/
/Thumbs.db/
/docs/assets/ecosystem_obsidian_github_mikdocs.png
/docs/assets/logo.png
/mkdocs.yml/
/docs/manifest.json
